body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #207008;
    color: #6e2490;
}

#nav {
    background: #207008;
    color: #5c2490;
}

#player-1 {
    width: 50%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #207008;
    background: #6e2490;
    margin-top: 5px;
}

#player-2 {
    width: 50%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #207008;
    color: #6e2490;
    margin-top: 5px;
}

#player1, #player2, #timer1, #timer2 {
    margin: 5px;
    padding: 2vh 4vw;
    font-size: 4vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    max-width: 90vw;
    box-sizing: border-box;
}

#player1 {
    background: #b550e4;
    color: #207008;
}

#player2 {
    background: #44c71d;
    color: #9160a8;
}

@media (max-width: 600px) {
    #player1, #player2, #timer1, #timer2 {
        padding: 2vh 4vw;
        font-size: 2vw;
    }
}

#timer1, #timer2 {
    background: #ffffff;
    color: #000000;
}