body {
    background: #ffffff; 
    color: #904B24; 
}

#nav {
    background: #FEF0B2; 
    color: #904B24; 
}

#player-1 {
    background: #FEF0B2;     
}

#player1 {
    background: #904B24; 
    color: white; 
    margin-top: 5px; 
}

#timer1 {
    margin: 1em auto;
    padding: 1em;                   
    width: 30%; 
}

/*player box*/
#player-2 {
    background: #904B24;;     
}
/*player btn */
#player2 {
    background: #FEF0B2; 
    color: #904B24;  
    margin-top: 5px; 
}
/*player timer text*/
#timer2 {
    margin: 1em auto;  
    padding: 1em;     
    width: 30%; 
    color: white; 
}








